header{
    display: flex;
    max-width: 100%;
    padding-bottom: 45px;
    padding-top: 40px;
}

.container{
    width: 960px;
}

.nav{
    margin-top: 5px;
}
.mid{
    margin-left: 210px;
    margin-right: 320px;
}

.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.dropdown-item{
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 14px;
    line-height: 28px;
}
.item-1 {

    color: #bbb;
    padding-left: 10px;
    font-size: 26px;
    padding-right: 10px;

}
.nav a:hover {
    background-color: rgb(252, 248, 248);
    color: #999;
}

.nav-link{
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    line-height: 28px;
}
.content1 {
    padding-top: 90px;
    padding-bottom: 100px;
    background: #f4f4f4;
    padding: 100px 0;
    font-size: 14px;
    color: #333;

}

.font-family{
    font-family: 'Montserrat', sans-serif;
}

.line-1{
    margin-top: 10px;
    margin-bottom: 20px;
}

.big-bold{
    color: #f7941d;
    font-size: 24px;
    line-height: 38px;
}

.line-2{
    padding-top: 10px;
    margin-left: 40px;
}
.text-60px{
    font-size: 60px;
    line-height: 86px;
    color: #444444;
    font-weight: bold;
}

.line-3{
    width: 65%;
    margin-left: 18%;
}
.text-gray{
    line-height: 26px;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #888;
    margin-bottom: 20px;
    margin-top: 20px;
}

.purchan1 {
    padding: 18px 70px;
    font-size: 16px;
    border-radius: 40px;
    border: 0px;
    margin-top: 10px;
    background: #237f52;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

.purchar:hover .purchan1 {
    background-color: #176017;
    color: #fff;
    text-decoration: none;
}

.img-1{
    margin-top: 70px;
}








.box {
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center
}

.item1 {

    display: inline-block;
    margin: 0 5px;
    width: 210px;
    line-height: 16px;
    margin-left: 20px;
}


.itemm2 {
    margin-top: 20px;
}

.TT {
    font-size: 20px;
}

.TT-Con {
    font-size: 14px;
    color: #888888;
}

.order {
    padding: 10px 25px;
    border-radius: 40px;
    background: #237f52;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;

}

.orderr {
    padding: 10px 25px;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    background: #f7941d;
}

.order:hover {
    background-color: #237256;
}

.orderr:hover {
    background-color: #d7941d;
}


.container-order {
    padding-top: 100px;
    padding-bottom: 10px;
}

.content-order {
    display: flex;
}

.text-more {
    background-image: url(images/intro-pattern.png);
    background-color: #f7941d;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 90px;
    text-align: center;
    width: 409px;
    height: 490px;
    font-size: 16px;


}

.big-text {
    color: #ffffff;
    font-size: 36px;
    line-height: 58px;

}

.explain-text {
    line-height: 26px;
    color: #ffdfb8;
    margin-bottom: 35px;
}

.purchase-order {
    padding: 20px 70px;
    border-radius: 40px;
    background: #237f52;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;

}

.contain-more {
    width: 380px;
    height: 600px;
}

.media-ic {
    display: flex;
    padding-top: 10px;
    margin-top: 2px;
}

.icon-more2 img {
    margin-top: 30px;
    width: 70px;
}

.media-body {
    margin-left: 30px;
    line-height: 20px;
}

.text-more-2 {
    padding-top: 6px;
    font-size: 20px;
    height: 3px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
}

.textt-more-2 {
    font-size: 14px;
    color: #888;
    line-height: 26px;
    margin-top: 30px;
}

.more1 {
    margin-top: 50px;
}

.text-more-1 {
    color: #444;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}

.textt-more-1 {
    font-size: 16px;
    line-height: 26px;
    color: #888;
}

.container-p4 {
    margin-top: 50px;
    padding-top: 110px;
    padding-bottom: 50px;
    background: #f4f4f4;
}

.all-content {
    display: flex;
    justify-content: center;
}

.content-p4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 380px;
    height: 450px;
}

.container-p5 {
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 50px;

}

.content-p5 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 540px;
    height: 450px;
}

.mail {
    width: 100px;
}

.text-small-orange {
    font-size: 16px;
    color: #f7941d;

}

.text-edit-pc {
    width: 85%;
    font-size: 16px;
    line-height: 26px;
    color: #888;
}

.mail-content {
    padding-left: 10px;
}

.container-content {
    background-image: url(https://pixfort.com/items/1/images/deal/newsletter-pattern.png);
    background-color: #f4f4f4;
    background-size: auto;
    background-attachment: scroll;
    background-position: top;
    background-repeat: repeat-x;
    height: 380px;
    width: 380px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 30px;
    box-sizing: border-box;
    position: relative;

}

.text-big {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.center-text {
    text-align: center;
    margin-top: 5px;
}
.form{
    padding-bottom: 15px;
    padding-top: 20px;
    display: block;
}

.form-control{
    background: #fff;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 16px 0px 16px 15px;
    height: 100%;
    width: 100%;
    display: block;
    border: 0px hidden #fff;
    outline: none;
}
.button {
    margin-bottom: 20px;
    padding: 15px 108px;
    background: #f7941d;
    border-radius: 25px;
    color:#f4f4f4;
    border: 0px none;
    cursor: pointer;
}
.slide-image{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.sl-image{
    padding: 15px 100px;
}
.container-p7{
    background-color: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 80px;
}
.all-content7{
    text-align: center;
}
.text-p7{
    color: #f7941d;
    font-size: 24px;
    line-height: 38px;
}
.text-p7bold{
    margin-top: -10px;
    font-size: 48px;
    line-height: 77px;
    color: #444;
}
.text-explain{
    display: inline-block;
    width: 42%;
    margin: 20px 0;
}

.container-footer {
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
}
.all-contents{
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
.contents{
margin-left: -10px;
margin-right: -10px;

}
.cnt-footer1{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.33333333%;
}
.img-ft{
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}

.contain-text{
    color: #888;
    font-size: 14px;
    line-height: 22px;
    padding-right: 13px;
    margin: 0px 0px 10px;

}
.cnt-footer2 {
    margin-top: 10px;
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
}
.ft-text3{
    color: #333333;
    font-size: 24px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
}
.ft-text5{
    color: #888;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 22px;
    padding-right: 10px;
    padding-left: 10px;
}
.cnt-footer3{
    width: 33.3333333%;
    float: left;
    position: relative;
    min-height: 1px;
}
.img-pp{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pic-end{
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.purchar-end{
    margin-left: 10px;
}

